body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1f1f1f;
    color: #fff;
    min-height: 100vh;
    position: relative;
}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

header img {
    max-width: 100%;
    height: auto;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

main {
    max-width: 100%;
    padding: 20px;
    clear: both; 
}

img {
    max-width: 100%;
    height: auto;
}

.game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.game-info img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.game-info p{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    text-align: center;
    align-items: center;
    width: 50%;
    line-height: 1.5;
}
.specs-table h3{
    font-family: 'Courier New', Courier, monospace;
}
.specs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.specs-table {
    flex: 1;
    margin: 0 10px;
    margin-bottom: 20px;
}

.specs-table table {
    width: 100%;
    border-collapse: collapse;
}

.specs-table th, .specs-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

.specs-table th {
    background-color: #333;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}
.specs-table h3 {
    font-family:'Courier New', Courier, monospace;
}
.purchase-container {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #1f1f1f;
    color: #1f1f1f;
    background-color: #1f1f1f;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.purchase-container:hover {
    background-color: #1f1f1f;
    color: #3498db;
}
footer {
    background-color: #171a21;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    clear: both;
}


footer a {
    color: #3498db;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer .social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
}


@media screen and (min-width: 769px) {
    footer {
            background-color: #171a21;
            color: #fff;
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: center;
            width: 100%;
            position: relative;
            bottom: 0;
            clear: both; /* Adicione esta propriedade para limpar flutuações */
        }
}

@media screen and (max-width: 768px) {
    .game-info p{
        font-family: 'Times New Roman', Times, serif;
        margin: 0;
        text-align: center;
        align-items: center;
        width: 100%;
        line-height: 1.5;
    }
    main {
        padding: 10px;
    }

    .specs-container {
        flex-direction: column;
    }

    .specs-table {
        margin: 0;
    }

    article.jogos {
        width: 100%;
    }

    .pagination-page .game {
        width: 100%;
    }

    footer {
        position: relative;
        margin-top: 0;
    }

    footer .social-icons {
        margin-top: 10px;
    }

    footer .social-icons a {
        margin: 0 10px;
        color: #fff;
        transition: transform 0.3s ease-in-out;
    }

    footer .social-icons a:hover {
        transform: scale(1.1);
    }
}

a:hover {
    color: red;
}

a, button {
    transition: color 0.3s ease-in-out;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    min-height: calc(100vh - 40px);
}

h2 {
    margin: 0;
}
